<!-- <p (click)="selectPokemon(ListPokemons[1])">
  {{ListPokemons[1].name}}</p> -->

<!-- <input type="number"
#input
(keyup.enter)="selectPokemon(input.value)"/>
<p *ngIf="pokemonSelected">  vous avez sélectionné le pokemon{{ pokemonSelected?.name  }}</p>
<p *ngIf="!pokemonSelected">  Aucun Pokémon n'a été sélectionné </p>
<p *ngFor="let pokemon of ListPokemons">
  {{pokemon.name}}
  <img src="{{ pokemon.picture}}" alt="" srcset="">
</p> -->

<h1 class="center"> Liste de pokemons</h1>


<router-outlet></router-outlet> <!-- si l'utilisateur demmande une page le < router-outlet > s'enchargera de chercher la page  -->


